#outer-container
{
    margin-top:5px;
}

#outer-container h2
{
    text-align: center;
    
    color:rgb(9, 9, 80);
}

#container
{   
    border:2px solid rgb(3, 3, 104);
    font-size: 15px;
    height:20em;
    width:19em;
    margin:auto;
    margin-top:2rem;
    border-radius: 10px;
}

@media(max-width:641px)
{
    #container{
        width:10em;
    }
}

@media(max-width:322px)
{
    #container{
        width:6em;
    }
}

#inner-container
{
    margin:8px 0.4em;
}

#user
{
    margin:0.8em;
}

#pass
{
    margin:0.8em;
}

#btn
{
    text-align: center;
    margin-top:2em;
}

#ulabel
{
    margin:1em;
}

#plabel
{
    margin:1em;
}

#newUser{
    text-align: center;
    margin-top:0.5em;
}