#outer-container
{
    margin-top:30px;
}

#outer-container h1
{
    text-align: center;
    
    color:rgb(9, 9, 80);
}

#container
{   
    border:2px solid rgb(3, 3, 104);
    font-size: 20px;
    height:20em;
    width:19em;
    margin:auto;
    margin-top:4rem;
    border-radius: 10px;
    
}

@media(max-width:641px)
{
    #container{
        width:10em;
    }
}

@media(max-width:322px)
{
    #container{
        width:6em;
    }
}

#inner-container
{
    margin:10px 0.5em;
}

#user
{
    margin:1em;
}

#pass
{
    margin:1em;


}

#btn
{
    text-align: center;
    margin-top:2em;
}

#ulabel
{
    margin:1em;
}

#plabel
{
    margin:1em;
}