<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FlavourFusion</title>
    <link href="/FirstPage.css" rel="stylesheet">
</head>
<body>
    <a href="http://localhost:3000/login">Login</a>
    <a href="http://localhost:3000/signup?">Signup</a>
</body>
</html>