<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login success</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="/loginstyle.css" rel="stylesheet">
    <link href="/FirstPage.css" rel="stylesheet">
</head>
<body>
    <div id="outer-container">
        <h2>Login Form</h2>
        <div id="container">
          <form id="loginform" METHOD="POST" action="http://localhost:3000/login">
            <div id="inner-container">
              <div id="user">
                <label htmlFor="username" id="ulabel">Username:</label>
                <input class="form-control" type="text" placeholder="Enter Username" id="username"  name="username" required />
              </div>
              <div id="pass">
                <label htmlFor="password" id="plabel">Password:</label>
                <input type="password" id="password" placeholder="Enter password" class="form-control" name="password" required />
              </div>
              <div id="btn">
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </div>
          </form>
        </div>
        <div  id="newUser">
         <p>New user?Sign Up here <form action="http://localhost:3000/signup" method="get"><button class="btn btn-primary">Signup</button></form></p>
        </div>
        
      </div>
      <%- include("includes/footer.ejs")%>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script> 

</body>
</html>