<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/menu.css" rel="stylesheet">
</head>
<body>
    <div class="menu-container">
        <a href="#pizza">pizza</a>
        <a href="#Burger">Burger</a>
        <a href="#Sandwich">Sandwich</a>
        <a href="#Spring">Spring Roll</a>
        <a href="#French">French Fries</a>
        <a href="#Garlic">Garlic Bread</a>
    </div>

    <div id="pizza" class="info first">
        <img src="/images/piz.jpg">
        <div>
        <p>pizza, dish of Italian origin consisting of a flattened disk of bread dough topped with some combination of olive oil, oregano, tomato, olives, mozzarella or other cheese, and many other ingredients, baked quickly—usually, in a commercial setting, using a wood-fired oven heated to a very high temperature—and served hot ...</p>
        <h4 class="value">Price &#8377;<span>500</span></h4>
    </div>
    </div>
    <div id="burger" class="info">
        <img src="/images/burger.jpg">
        <div>
        <p>A burger, also known as a hamburger, is a patty of ground beef that's cooked and placed between two halves of a bun. Burgers are often served with condiments like ketchup, mayonnaise, and mustard, as well as toppings like lettuce, tomato, onion, and pickles. Other common additions include cheese, bacon, and fried eggs.
        </p>
        <h4 class="value">Price &#8377;<span>400</span></h4>
        </div>
    </div>
    <div id="Sandwich" class="info">
        <img src="/images/sandwich.jpg">
        <div>
        <p>
            A sandwich is a dish made of two or more slices of bread or a split roll with a filling in between. The filling can include meat, cheese, vegetables, or other foods. Sandwiches can be assembled cold and served in a variety of breads, such as baguettes, rolls, wraps, and bagels. 
        </p>
        <h4 class="value">Price &#8377;<span>350</span></h4>
        </div>
    </div>
    <div id="Spring" class="info">
        <img src="/images/sprroll.jpg">
        <div>
        <p>
            Spring rolls are rolled appetizers or dim sum commonly found in Chinese and Southeast Asian cuisines. The kind of wrapper, fillings, and cooking technique ...
        </p>
        <h4 class="value">Price &#8377;<span>410</span></h4>
        </div>
    </div>
    <div id="French" class="info">
        <img src="/images/frenchfries.jpg">
        <div>
        <p>
            french fries, side dish or snack typically made from deep-fried potatoes that have been cut into various shapes, especially thin strips. Fries are often salted and served with other items, including ketchup, mayonnaise, or vinegar
        </p>
        <h4 class="value">Price &#8377;<span>200</span></h4>
        </div>
    </div>
    <div id="Garlic" class="info">
        <img src="/images/bread.jpg">
        <div>
        <p>
            Garlic bread is made of maida which is processed and is thus high in carbohydrates and hence a good source of energy. However, being high on glycemic index scale, it is not advised for people with obesity and diabetes.
        </p>
        <h4 class="value">Price &#8377;<span>100</span></h4>
        </div>
    </div>




    <%- include("includes/footer.ejs")%>
</body>
</html>