body{
    /* background-color: rgb(234, 166, 189); */
    /* margin:auto; */
    
}
.sign-up{
text-align: center;
}

.signup-container{
    border:2px solid rgb(3, 3, 104);
    font-size: 15px;
    height:23em;
    width:19em;
    margin:auto;
    margin-top:1.5rem;
    margin-bottom:1.5em;
    /* margin:8px 0.4em; */
    border-radius: 10px;
}

.cont{
   
    margin:0.8rem;
    padding:0.5rem;
    /* margin-bottom:20px; */
}
#ulabel,#plabel,#elabel{
    margin-bottom:0.5em;
}
 
 #btn{
    text-align: center;
 } 
 #email,#username,#password{
    padding:0.2em;
 }