<footer class="footer">
    <div class="footer-contact style">
        <p>123 Food Street, Culinary City, 56789</p>
        <p>Phone: (123) 456-7890</p>
        <p>Email: info@foodwebsite.com</p>
        <p>Open: Mon-Sun, 10 AM - 10 PM</p>
    </div>
    <div class="footer-social style">
        <a href="https://facebook.com">Facebook</a>
        <a href="https://instagram.com">Instagram</a>
        <a href="https://twitter.com">Twitter</a>
    </div>

    <div class="footer-links style">
        <a href="http://localhost:3000/menu">Menu</a>
        <a href="/about">About Us</a>
        <a href="/contact">Contact</a>
        <a href="/faq">FAQs</a>
    </div>
    <div class="footer-legal style">
        <p>&copy; 2024 Good Food, Good Mood. All rights reserved.</p>
        <a href="/privacy-policy">Privacy Policy</a>
        <a href="/terms-of-service">Terms & Service</a>
    </div>
</footer>
